/* Global Css */
*{
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}
:root{
	
	--dark-color-1:#131313;
	--dark-color-2:#424242;
	--dark-color-3:#727272;
	--white-color:#fff;
	--orange-color:#FF900E;
	--light-orange:#FFF4E7;

}
p{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: var(--dark-color-3);
}
header, main, footer{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container{
 width: 1440px;
}
.primary-btn{
	color:var(--white-color);
	font-weight: 600;
	font-size: 20px;
	line-height: 1;
	border-radius: 8px;
	padding: 20px 25px;
	background-color: var(--orange-color);
	border: 0;
	margin-top: 30px;
}
.section-title h2{
	color:var(--dark-color-1);
	font-weight: 700;
	font-size: 45px;
	margin-bottom: 24px;
}
.our-features-area, .some-facts-area, .our-sponspors-area, .love-and-enjoy-area, .contact-us-area{
	margin-bottom: 130px;
}

/* Header Styles */
.header-area{
	background-color:var(--light-orange);
	overflow: hidden;
}
.header-nav-area{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin:50px 0px;
}
.header-nav-area .site-logo a{
	color: var(--dark-color-1);
	font-weight: 700;
	font-size: 45px;
}
.header-nav-area a{
	text-decoration: none;
}
.header-nav-area ul {
	list-style: none;
	display: flex;
}
.header-nav-area ul li{
	margin-left: 60px;;
}
.header-nav-area ul li a{
	font-weight: 500;
	font-size: 18px;
	color: var(--dark-color-1);
}

/* Hero Styles */
.hero-content-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0px;
}
.hero-content{
	text-align: center;
	width: 860px;
	margin-bottom: 50px;
}
.hero-content h2{
	font-weight: 700;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
}
.hero-content-area img{
	width: 100%;
}

/* Our Features Styles */
.our-features-area{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	margin-top: 85px;
	grid-column-gap: 70px;
}
.features-image img{
	width: 342px;
	height: 342px;
	border-radius: 8px;
}
.features-image {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
}
.feature-content .thin-word{
	font-weight: 500;
	color: var(--dark-color-2);
}
.feature-content span{
	color: var(--orange-color);
}

/* Love and Enjoy Styles */
.love-and-enjoy-area {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-column-gap: 145px;

}
.love-and-enjoy-feature-content .section-title h2 {
	padding-left: 20px;
	border-left: 5px solid var(--orange-color);
}
.love-and-enjoy-feature-items {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-row-gap: 20px;
}
.love-and-enjoy-single-items {
	background-color: var(--white-color);
	box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
	border-radius: 8px;
	padding: 30px;
}
.love-and-enjoy-single-items h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 10px;
}
.love-and-enjoy-feature-image {
	position: relative;
}
.love-enjoy-button{
	text-align: center;
	padding: 50px 42px;
	border-radius: 8px;
	background-color: var(--orange-color);
	position: absolute;
	bottom: -80px;
	left: -90px;
}
.love-enjoy-button h3{
	font-style: normal;
	font-weight: 700;
	font-size: 65px;
	line-height: 1;
	color: var(--white-color);
}
.love-enjoy-button p {
	font-size: 25px;
	color: var(--white-color);
	line-height: 1;
	margin: 10px 0;

}
/* Some Facts Styles */
.some-facts-items{
	margin-top: 100px;
	padding-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 120px;
}
.facts-single-item {
	text-align: center;
	padding: 45px 35px 60px 35px;
	border-radius: 8px;
	border: 1px solid var(--orange-color);
	transition: 0.5s;
}
.facts-single-item:hover {
	box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
	border-color: var(--white-color);
	transition: 0.5s;
	cursor: pointer;
}
/* Our Sponspors Styles */
.sponspors-items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.sponspors-heading{
	width: 540px;
	text-align:center;
	margin: 0 auto;
	margin-bottom: 50px;
}
.sponspors-single-item img{
	opacity: 0.8;
}
/* Contact CSS*/
.contact-us-area {
	display: grid;
	grid-template-columns: repeat(2,1fr);
}

.contact-content-item label {
	color: var(--dark-color-3);
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 16px;
}

.contact-content-item input,
.contact-content-item textarea {
	background-color: var(--white-color);
	border: 2px solid var(--light-orange);
	border-radius: 10px;
	color: var(--dark-color-2);
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 15px;
	padding: 15px;
	width: 100%;
	margin-top: 5px;
}

.contact-content-item input[type="submit"] {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	background-color:var(--orange-color);
	color: var(--white-color);
	border: 0;
	border-radius: 5px;
	padding: 20px 25px;
	width: 150px;
}

/* Footer Styles */
footer{
	margin-bottom: 200px;
}
.footer-content {
	text-align: center;
	padding: 38px;
	border-radius: 8px;
	background-color: var(--light-orange);
	
}
.footer-content p{
	color: var(--dark-color-2);
	
}

/* Laptop Screen */
@media only screen and (max-width: 1399.98px) {
	.container {
		width: 1240px;
	}
	.primary-btn {
		font-size: 18px;
		padding: 18px 22px;
		margin-top: 25px;
	}

	.section-title h2 {
		font-size: 42px;
		margin-bottom: 20px;
	}
	.our-features-area, .some-facts-area, .our-sponspors-area, .love-and-enjoy-area, .contact-us-area {
		margin-bottom: 100px;
	}
	.features-image img, .love-and-enjoy-feature-image img{
		width: 100%;
		height: auto;
		border-radius: 8px;
	}
	/* Love and Enjoy */
	.love-and-enjoy-area {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 70px;
	}
	.love-and-enjoy-single-items {
		background-color: var(--white-color);
		box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
		border-radius: 8px;
		padding: 25px;
	}
	.love-enjoy-button {
		padding: 45px 40px;
		bottom: 0px;
		left: -40px;
	}
	.love-enjoy-button h3 {
		font-size: 48px;
	}
	.love-enjoy-button p {
		font-size: 20px;
		margin: 7px 0;
	}
	/* SOme Facets */
	.some-facts-items {
		margin-top: 80px;;
		grid-column-gap: 100px;
	}
	/* Footer Style */
	footer {
		margin-bottom: 100px;
	}
}
/* Mobile Screen */
@media only screen and (max-width:767.98px){
	.container {
		width: 100%;
	}
	.section-title h2 {
		font-size: 36px;
		margin-bottom: 18px;
	}
	.primary-btn {
		font-size: 16px;
		padding: 16px 22px;
		margin-top: 20px;
	}
	.our-features-area,.some-facts-area,.our-sponspors-area,.love-and-enjoy-area,.contact-us-area {
		margin-bottom: 50px;
	}
	
	/* Header Style */
	.header-nav-area .nav, .header-nav-area .site-logo, .hero-content, .sponspors-heading {
		width: 100%;
	}
	header.header-area {
		padding: 0px 20px;
	}
	.header-nav-area {
		display: flex;
		flex-direction: column;
		margin: 20px 0px;
		text-align: center;
	}
	.header-nav-area ul {
		justify-content: space-between;
		margin-top: 8px;
	}
	.header-nav-area ul li {
		margin-left: 0;
	}
	.header-nav-area .site-logo a {
		font-size: 28px;
	}
	.hero-content-area {
		padding: 20px 0px;
		flex-direction: column-reverse;
	}
	.hero-content {
		margin-bottom: 0;
		margin-top: 25px;
	}
	.hero-content h2 {
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 15px;
	}

	/* Feature Styles */
	.our-features-area {
		grid-template-columns: repeat(1, 1fr);
		margin-top: 50px;
		grid-column-gap: 0;
		grid-row-gap: 25px;
		padding: 0px 20px;
	}
	.features-image {
		grid-gap: 15px;
	}
	.features-image img {
		width: 100%;
		height: 100%;
	}
	/* Love and Enjoy Styles */
	.love-and-enjoy-area {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 80px;
		padding: 0px 20px;
	}
	.love-enjoy-button {
		padding: 25px 20px;
		bottom: -40px;
		left: -10px;
	}
	.love-enjoy-button p {
		font-size: 16px;
		color: var(--white-color);
		line-height: 1;
		margin: 5px 0;
	}
	.love-enjoy-button h3 {
		font-size: 28px;
	}
	.love-and-enjoy-feature-content {
		order: 2;
		display: grid;
	}
	.love-and-enjoy-feature-image {
		display: grid;
		order: 1;
	}

	.love-and-enjoy-single-items {
		padding: 20px;
	}
	/* Some Facts Style */
	.some-facts-area {
		padding: 0px 20px;
	}
	.some-facts-items {
		margin-top: 40px;
		padding-bottom: 0px;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 25px;
		grid-row-gap: 25px;
	}
	.facts-single-item {
		padding: 30px 10px 30px 10px;
	}

	/* Sponspors Style */
	.our-sponspors-area {
		padding: 0px 20px;
	}
	.sponspors-heading {
		margin-bottom: 40px;
	}
	.sponspors-items {
		column-gap: 10px;
	}
	.sponspors-single-item img{
		width: 100%;
	}
	/* Contact Us Styles */
	.contact-us-area {
		grid-template-columns: repeat(1, 1fr);
		padding: 0px 20px;
		grid-row-gap: 35px;
	}
	.contact-content-item input,
	.contact-content-item textarea {
		padding: 12px;
		max-width: 300px;
	}
	.contact-content-item input[type="submit"] {
		font-size: 16px;
		line-height: 1;
		padding: 16px 20px;
		width: 130px;
	}
	/* Footer Style */
	footer {
		margin-bottom: 20px;
		margin: 20px;
	}
	.footer-content {
		padding: 18px;
	}
		
}